.contacts
  a.contact(href="tel:+380639999999")
    i.fa.fa-mobile.fa-lg.contact__icon(aria-hidden="true")
    span.contact__text +380639999999

  a.contact(href="mailto: test_test@test.test")
    i.fa.fa-envelope.contact__icon.contact__icon--mail(aria-hidden="true")
    span.contact__text test_test@test.test

  a.facebook-icon(href="facebook.com")
    i.fa.fa-facebook(aria-hidden="true")